@import url(bootstrap.css);

body {background-image:url('https://f.cloud.github.com/assets/5040624/887463/781c7160-f9fc-11e2-8202-adac167ae9b3.jpg');}

h4 {color:Red;}

h1 {color:Red;}

.navbar .brand {
  padding: 8px 20px 12px;
  font-size: 20px;
  color: #ffffff;
}

.navbar .divider-vertical {
  height: 41px;
  background-color: #ffffff;
  border-right: 1px solid #c6c6c6;
}

.navbar .nav > li > a {
  padding: 10px 10px 11px;
  font-size: 14px;
  color: #ffffff;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #424242;
} 

