@import url(bootstrap.css);

body {background-image:url('https://f.cloud.github.com/assets/5040624/887463/781c7160-f9fc-11e2-8202-adac167ae9b3.jpg');}

h4 {color: Red;}

h1 {color: Red;}


.navbar-inner {
  background-image: -moz-linear-gradient(top, #f90e0e, #f70000);
  background-image: -ms-linear-gradient(top, #f90e0e, #f70000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f90e0e), to(#f70000));
  background-image: -webkit-linear-gradient(top, #f90e0e, #f70000);
  background-image: -o-linear-gradient(top, #f90e0e, #f70000);
  background-image: linear-gradient(top, #f90e0e, #f70000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'f90e0e, endColorstr='#'f70000, GradientType=0);
}

.navbar .brand {
  padding: 8px 20px 12px;
  font-size: 20px;
  color: #f2eded;
}

.navbar .divider-vertical {
  height: 41px;
  background-color: #ffffff;
  border-right: 1px solid #c6c6c6;
}

.navbar .nav > li > a {
  padding: 10px 10px 11px;
  font-size: 14px;
  color: #f2eded;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #424242;
}

